.contenedor1 {
    display: flex;
    justify-content: space-between;
}

figure {
    display: flex;
    width: 300%;
    height: 100%;
    flex-wrap: wrap;
}

video {
    width: 60%;
}

article {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 1rem;

    border-radius: 1rem;
}