* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    color: blue;
}

h2 {
    color: blueviolet;
    font-size: 1.6rem;
}

p {
    font-size: 1.2rem;
}

img {
    width: 55%;
    border: 2px transparent;
    padding: 0px;
    border-radius: 10px;
}

video {
    width: 60%;
}

form input {
    display: block;
    margin-bottom: 10px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.caja {
    width: 12%;
    height: 100px;
    background-color: transparent;
    border: 0.1rem solid #000;
    
    border-radius: 1rem;
}